datasets
tqdm
imageio-ffmpeg
ffmpeg-python
imageio[ffmpeg]
moviepy
huggingface_hub
huggingface_hub[hf_xet]
matplotlib
seaborn
torch
sentence-transformers
scikit-learn
gradio
qdrant-client
ipywidgets
deepmultilingualpunctuation
transformers
bertopic
safetensors
opencv-python
scikit-image